

@model  CarmeloSomarriba.Models.Producto

<h1>Editar productos.</h1>

<form action="~/Home/EditarValorProducto " method="post">

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <div><h4>Nombre Producto</h4></div>
            <input type="text" class="form-control" name="NombreProducto" value="@Model.NombreProducto"/>
       
     <div class="col-md-6">
            <div><h4>Descripcion Producto</h4></div>
            <input type="text" class="form-control" name="DescripcionProduc" value="@Model.DescripcionProducto"/>
            <input type="hidden" name="Id" value="@Model.Id">
     </div>
    <div/>


     <div class="col-md-4">
            <div><h4>Precio Producto</h4></div>
            <input type="text" class="form-control" name="PrecioProduc" value="@Model.Precio"/>
            <input type="hidden" name="Id" value="@Model.Id">
     </div>
     <div class="col-md-4">
            <div><h4>Fecha de ingreso</h4></div>
            <input type="text" class="form-control" name="FechaIngresoProduc" value="@Model.FechaIngreso"/>
            <input type="hidden" name="Id" value="@Model.Id">
     </div>
     <div class="col-md-4">
            <div><h4>Fecha de ingreso de imagen</h4></div>
            <input type="text" class="form-control" name="ImagenProductoProduc" value="@Model.ImagenProducto"/>
            <input type="hidden" name="Id" value="@Model.Id">
     </div>

      <div class="col-md-4">
            <div><h4>Categoria Peoducto</h4></div>
            <input type="text" class="form-control" name="CategoriaProduc" value="@Model.categoria"/>
            <input type="hidden" name="Id" value="@Model.Id">
     </div>






        <div class="bi bi-x-diamond-fill form-group">
            <input type="submit" svg="bi bi-x-diamond-fill"  value="Guardar" class=" btn btn-success"/>
            <a class=" bi bi-x-diamond-fill btn btn-danger" href="~/home/ListaProductos">Lista productos</a>
        </div>
    <div/>
<div/>
</form>



    