

@model  CarmeloSomarriba.Models.Categoria

<h1>Editar catagorias.</h1>

<form action="~/Home/EditarValorCategoria " method="post">
    <h3>Nombre</h3>
    <div class="form-group">
        <input type="text" class="form-control" name="NombreCategoria" value="@Model.NombreCategoria"/>
        <input type="hidden" name="Id" value="@Model.Id">
    </div>
     <h3>Descripcion</h3>
    <div class="form-group">
       <input type="text" class="form-control" name="Descripcion" value="@Model.Descripcion"/>
        <input type="hidden" name="Id" value="@Model.Id">
    </div>
     <h3>Fecha creacion</h3>
    <div class="form-group">
        <input type="text" class="form-control" name="FechaCreacion" value="@Model.FechaCreacion"/>
        <input type="hidden" name="Id" value="@Model.Id">
    </div>


    <div class="form-group">
        <input type="submit" value="💾" class="btn btn-success"/>
        <a class="btn btn-danger" href="~/home/ListaCategorias">🔙</a>
    </div>
</form>
