@model List<CarmeloSomarriba.Models.Producto>

    <div>
        
        <a class="btn btn-danger" href="~/home/Index">Lista Productoss</a>
        <a class="btn btn-danger" href="~/home/Producto">Ingresar Producto.</a>
    
    </div>
    <div class="row"></div>

<div>
    <table class="table table-hover tabla-productos">
        <thead>
            <tr>
                <th>Nombre Producto</th>
               
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Fecha Ingreso</th>
                <th>Imagen</th>
                <th>Categoria</th>
                 <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach(var producto in Model)
                {
                    <tr>
                        <td>@producto.NombreProducto</td>
                        <td>@producto.DescripcionProducto</td>
                        <td>@producto.Precio</td>
                        <td>@producto.FechaIngreso</td>
                        <td>@producto.ImagenProducto</td>
                        <td>@producto.categoria</td>
                        <td>
                            <a data-id="@producto.Id" class= "btn btn-success verdescripcionProducto" href="javascript:void(0);">Ver Descripcion</a>
                            <a class= "btn btn-info" href="~/home/EditarProducto?id=@producto.Id">Editar</a>
                            <a class= "btn btn-danger" href="~/home/EliminarProducto?id=@producto.Id">Eliminar</a>
                        </td>
                   </tr>
                }
            }
        </tbody>
    </table>
</div>
    <div>
    <a class="btn btn-outline-success" href="@Url.Action("Index")">Inicio</a>
    </div>




    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Productos.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">



        <span class="valor-descripcion-productos"></span>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>





  
    @section Scripts{
        <script>
        
             $('.tabla-productos').DataTable();



            $(".verdescripcionProducto").click(function(){
                var id = $(this).attr("data-id");


                // hacer la peticion para rescatar la descripcion de la clase
                var xhr = $.ajax({
            url: "ObtenerDescripcion",
            type: "POST",
            data: {
                "Id": id
            }
            });

            xhr.done(function(data){

            $(".valor-descripcion-productos").text(data.descripcion);
                $("#exampleModal").modal("show");
            
            });
            xhr.fail(function(){ });

            })

        </script>
    }

